@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Muli:wght@800&family=Raleway:wght@300&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:wght@300&family=Special+Elite&display=swap');

// web-font
@font-face {
  font-family: 'Noto Sans KR', NotoSans-Mediumm, sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Special Elite', Noto Sans KR, serif;
  src: url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lobster', cursive;
  src: url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muli', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Muli:wght@700&display=swap');
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: 'Special Elite', Noto Sans KR, sans-serif;
}

html,
body,
#root,
#root > div {
  // overflow: hidden;
  // font-family: 'Josefin Slab', serif;
  font-family: 'Special Elite', Noto Sans KR, sans-serif, serif;
  // font-family: 'applesdgothicneo-ultralight','Spoqa Han Sans', sans-serif,"맑은고딕","Malgun Gothic",AppleGothic,Sans-serif;
  // font-family: 'Noto Sans KR', NotoSans-Mediumm, sans-serif;'
  height: 100%;
  scroll-snap-type: y proximity;
  place-items: center;
  overflow-x: hidden;
}

section {
  width: 100%;
  scroll-snap-align: center;
}

#footer-layout {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: flex-end;
}

header {
  display: flex !important;
  justify-content: center !important;
  align-content: center !important;
}

#root > div > div {
  font-weight: 800;
  // font-size: 25em;
  will-change: transform, opacity;
  text-shadow: 0px 2px 40px #00000020, 0px 2px 5px #00000030;
}

/* abstract */
@import 'abstract/reset';

/* atoms */
@import 'atoms/content';

/* organisms */
@import 'organisms/navbar', 'organisms/contact';

/* templates */
@import 'templates/main', 'templates/blinker';
