@charset "UTF-8";

// web-font
// @font-face {
//   src: url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap')
//   font-family: 'Noto Sans KR', NotoSans-Mediumm, sans-serif;
//   font-weight: normal;
//   font-style: normal;
// }

@font-face {
  font-family: 'NeoDunggeunmo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Noto Sans KR', NotoSans-Mediumm, sans-serif;
}

html,
body,
#root,
#root > div {
  // overflow: hidden;
  // font-family: 'Josefin Slab', serif;
  font-family: 'Special Elite', Noto Sans KR, sans-serif, serif;
  // font-family: 'Noto Sans KR', NotoSans-Mediumm, sans-serif;'
  scroll-snap-type: y mandatory;
}

section {
  height: 100vh;
  width: 100%;
  scroll-snap-align: center;
}

/* abstract */
@import 'abstract/reset';

/* atoms */
@import 'atoms/content';

/* organisms */
@import 'organisms/navbar';

/* templates */
@import 'templates/main';
