.content {
  font-size: 1.6rem;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  //   font-family: 'NeoDunggeunmo';
  font-family: 'Special Elite', Noto Sans KR, serif;
  color: #868e96;
}
