.blinker {
  display: flex;
  color: gray;
  top: 1rem;
  justify-content: center;
  align-items: center;
  text-shadow: none !important;
  font-family: 'Raleway', Noto Sans KR;
  font-weight: 400;
  // background: linear-gradient(rgb(255, 255, 255) 0%, rgb(184, 242, 255) 40%);
  // font-size: 10rem;
}

.blinker-media {
  position: relative;
  animation: game 1s;
  animation-fill-mode: forwards;
}

.blinker-video {
  position: absolute;
  top: 6rem;
}

@keyframes blinker-media {
  from {
    top: 1000px;
  }
  to {
    top: 0px;
    background-color: yellow;
  }
}
