.MuiPaper-elevation1 {
  box-shadow: none !important;
}

:root {
  --gutter: 120px;
}

/* caruosel */
.app {
  padding: 2rem 0 0 0;
  display: grid;
  // grid-gap: var(--gutter) 0;
  grid-template-columns: var(--gutter) 1fr var(--gutter);
  align-content: center;
  width: 100%;
  // background: yellow;
}

.app > * {
  grid-column: 2 / -2;
}

.app > .full {
  grid-column: 1 / -1;
}

.hs {
  display: grid;
  grid-gap: calc(var(--gutter) / 2);
  grid-template-columns: repeat(6, calc(50% - var(--gutter) * 2));
  grid-template-rows: minmax(300px, 1fr);
  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(0.75 * var(--gutter));
  margin-bottom: calc(-0.25 * var(--gutter));
}

.no-scrollbar {
  scrollbar-width: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.hs:before,
.hs:after {
  content: '';
  width: 10px;
}

.hs > li,
.item {
  scroll-snap-align: center;
  padding: calc(var(--gutter) / 2 * 1.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 8px;
}

.img-border {
  box-shadow: 0 1px 3px rgba(1, 1, 1, 0.2);
  border: 1px solid whitesmoke;
  border-radius: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  cursor: pointer;
  &:hover {
    transition: all 0.3s ease 0s;
    transform: scale(1.2);
  }
}
/*----*/

.content-head {
  font-size: 4rem;
  line-height: 7rem;
  font-family: 'Special Elite';
}

.icon-layout {
  display: flex;
  flex-direction: row;
  .icon {
    display: flex;
    height: 4rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 5rem 1rem 0 1rem;
    color: #4c555c;
    display: flex;
    justify-content: space-around;
    opacity: 0.5;
  }
  #js-icon {
    color: #f2e205;
    opacity: 1;
  }
  #html-icon {
    color: #f2561d;
    opacity: 1;
  }
  #css-icon {
    color: #0477bf;
    opacity: 1;
  }
  #md-icon {
    color: green;
    opacity: 1;
  }
  #react-icon {
    color: #a0d9d9;
    opacity: 1;
  }
  #aws-icon {
    color: #f29f05;
    opacity: 1;
  }
  #node-icon {
    color: #90d948;
    opacity: 0.8;
  }
}

#scroll {
  animation: scroll 0.6s ease-in Infinite Alternate;
  position: absolute;
  // bottom: 0;
  top: 45rem;
  width: 5rem;
  display: flex;
  height: 4rem;
  color: #4c555c;
  display: flex;
  justify-content: space-around;
  opacity: 0.5;
}

@keyframes scroll {
  0% {
    top: 44rem;
  }
  95% {
  }
  to {
    top: 45rem;
  }
}
