.MuiPaper-elevation1 {
  box-shadow: none !important;
}

:root {
  --gutter: 120px;
}

.content-head {
  font-size: 4rem;
  line-height: 7rem;
  font-family: 'Special Elite';
}

.icon-layout {
  display: flex;
  flex-direction: row;
  .icon {
    display: flex;
    height: 4rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    padding: 5rem 1rem 0 1rem;
    color: #4c555c;
    display: flex;
    justify-content: space-around;
    opacity: 0.5;
  }
  #apollo-gql {
    opacity: 1;
  }
  #js-icon {
    color: #f2e205;
    opacity: 1;
  }
  #html-icon {
    color: #f2561d;
    opacity: 1;
  }
  #css-icon {
    color: #0477bf;
    opacity: 1;
  }
  #md-icon {
    color: green;
    opacity: 1;
  }
  #react-icon {
    color: #a0d9d9;
    opacity: 1;
  }
  #aws-icon {
    color: #f29f05;
    opacity: 1;
  }
  #node-icon {
    color: #90d948;
    opacity: 0.8;
  }
}

#scroll {
  animation: scroll 0.6s ease-in Infinite Alternate;
  position: absolute;
  // bottom: 0;
  top: 35rem;
  width: 5rem;
  display: flex;
  height: 4rem;
  color: #4c555c;
  justify-content: space-around;
  opacity: 0.5;
}

@keyframes scroll {
  0% {
    top: 43rem;
  }
  95% {
  }
  to {
    top: 44rem;
  }
}

.title-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 4rem 0 7rem;
  padding-top: 5rem;
}

h5 {
  font-size: 3rem;
}

.MuiTypography-h5 {
  font-family: Raleway;
}

.makeStyles-card-13 {
  border-radius: 1px !important;
  width: 375px;
  transition: all 250ms cubic-bezier(0.02, 0.01, 0.47, 1) !important;
}

.makeStyles-card-13:hover {
  transform: translate(0, -20px);
}

.MuiTypography-h5 {
  font-family: 'Raleway' !important;
  font-weight: bold !important;
  color: rgba(0, 0, 0, 0.54) !important;
  border-bottom: 1px solid whitesmoke;
}

.MuiButtonBase-root {
  width: 365px;
}

.MuiGrid-grid-xs-12 {
  position: relative !important;
}

.MuiCardActionArea-root {
  cursor: auto !important;
}
