.tabs-setting {
  font-family: 'Muli' !important;
  font-weight: bold;
}

.navbar {
  position: absolute;
  z-index: 1;
  padding: 2rem 0 0 0;
}

.show-modal-button {
  padding: 0;
  border: none;
  background: none;
  font-family: 'Muli' !important;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  cursor: pointer;
  border-bottom: 1px solid black;
  color: black;
}

#henry {
  border: none !important;
  position: absolute;
  right: 38rem;
}
